@use "../utils" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background: #0c122c;
  background-image: url(../images/bg-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  @include u.breakpoint(large) {
    background-image: url(../images/bg-desktop.png);
    background-size: auto;

    background-position: bottom;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}
